/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
body
  background: #f6f6f6
.vuepress-blog-theme-content
  padding 0 30px
